body {margin: 0; padding: 0px; overflow-x: hidden;}

.contactList {
    margin: 10px;
    border-spacing: 5px;
    border-collapse: collapse;
}
.contactList th,td {border: 1px solid #000; padding: 5px;}

#documents li {
    list-style: none;
    width:80%;
}


ul.menu {
    background-color: #fff;
    color: #77c;
    margin: 0px;
    padding: 0px;
}

ul.menu li {display: inline-block;
	    padding-left: 1.5em;
	    padding-right: 1.5em;
	    border-right: 2px solid #77c;
	    margin: 0;
	    list-style: none;
	   }
ul.menu li:last-child {border: 0;}
ul.menu a {text-decoration: none;
	   font-size: 1.3em;
	   font-weight: bolder;}
ul.menu a:link    {color: #000;}
ul.menu a:visited {color: #000;}
ul.menu a:hover   {color: #000;}
ul.menu a:active  {color: #000;}

.page {float: left; width: 100%; padding: 0;}
/* .page p,a,h3,h4,ul,dt { */
/*     padding-left: 10px; */
/* } */

header {
    margin: auto 0;
    padding: 15px;
    background-color: #77c;
    color: #fff;
    
}

header h4 {
    margin-bottom: 0;
}

.page > p {
    margin-left: 15px;
}



#progress .week {font-size: 0.8em; padding-left: 20px;color: #aaa;}

h2 {
    float: left;
    width: 100%; 
    margin: 0 auto;
    background-color: #77c;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#minutes {
    float: right;
    width: 40%;
}

#minutes li {
    font-size: 0.8em;
}


#progress {
    width: 55%;
    float: right;
}

@media screen and (max-width: 700px) {
    #progress {width: 100%; }
    #minutes {width: 100%; }
    ul.menu li {
		display: block;
		width: 100%;
		text-align: center;
		padding-left: 1.5em;
		padding-right: 1.5em;
		border-bottom: 2px solid #77c;
		margin: 0;
		}

}